// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

.optPract {
    text-align: center;
  }

.back-login {
    font-size: 14pt;
}
  
.header-nav-left{
    float: right;
}

#header-nav-left{
    float: right;
}

.mrg50T{
    margin-top: 50px;
}

#page-content,#sb-site{
    min-height: 200px !important;
}

#page-sidebar,.scroll-sidebar{
    height: auto !important;
}

.bg-azul-inca{
    background-color: $azul-inca;
}

.btn-primary{
    background-color: $azul-inca;
    border-color: $azul-inca;
}

.btn-primary:hover,.btn-primary:focus{
    background-color: $azul-inca;
    border-color: $azul-inca;
}

#page-sidebar ul li a .glyph-icon{
    color: $azul-inca;
}

.fileinput-preview i{
    position: absolute;
    right: 25px;
}

.pagination > .active > a{
    background-color: $azul-inca;
    border-color: $azul-inca;
}

.nav > li.active > a, 
.nav > li.active > a:hover,
.nav > li.active > a:focus{
    background-color: $azul-inca;
    border-color: $azul-inca;
}

#page-header .user-account-btn > a.user-profile span{
    width: auto;
}

.group-2-btn{
    width: 72px;
}