@import url(https://fonts.googleapis.com/css?family=Nunito);.optPract {
  text-align: center;
}

.back-login {
  font-size: 14pt;
}

.header-nav-left {
  float: right;
}

#header-nav-left {
  float: right;
}

.mrg50T {
  margin-top: 50px;
}

#page-content,
#sb-site {
  min-height: 200px !important;
}

#page-sidebar,
.scroll-sidebar {
  height: auto !important;
}

.bg-azul-inca {
  background-color: #0053A1;
}

.btn-primary {
  background-color: #0053A1;
  border-color: #0053A1;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #0053A1;
  border-color: #0053A1;
}

#page-sidebar ul li a .glyph-icon {
  color: #0053A1;
}

.fileinput-preview i {
  position: absolute;
  right: 25px;
}

.pagination > .active > a {
  background-color: #0053A1;
  border-color: #0053A1;
}

.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus {
  background-color: #0053A1;
  border-color: #0053A1;
}

#page-header .user-account-btn > a.user-profile span {
  width: auto;
}

div.switch-toggle.switch-on{
  background-color: #0053A1;
}

.icon-submenu{
  float: right !important;
}

.btn-gray-dark{
  color: #FFF;
  background: #b7b7b7;
}

.btn-gray-dark:hover{
  color: #FFF;
}

.popover{
  max-width: none !important;
}

.form-wizard > ul > li a .complete{
  background-color: green;
}

.form-wizard > ul > li a .noaplica {
    background-color: #d58512;
}
.textos-info{
  /*font-size: 1.4em;*/
  /*font-weight: 500 !important;*/
}
